/.git
/.vs
/Debug
/Release
mod.vcxproj.user
*.exp
*.lib
*.pdb
*.dll

CaveStory/fps
CaveStory/mute
CaveStory/Config.dat
CaveStory/Profile.dat
CaveStory/window.rect
/ZZ-FinalRelease
!CaveStory/SDL2.dll
!CaveStory/lua.dll
!CaveStory/mods/autpi/autpi.dll
!CaveStory/mods/sdl/sdl.dll
!CaveStory/mods/lighting/lighting.dll